{% extends 'base.html' %}
{% block content %}
    <h2>Lost and Found Items</h2>
    <div class="grid">
        {% for item in items %}
        <div class="card">
            <img src="{{ url_for('uploaded_file', filename=item.image) }}" alt="Item Image">
            <h3>{{ item.title }}</h3>
            <p>{{ item.description }}</p>
            <span class="tag">{{ item.type | capitalize }}</span>
        </div>
        {% else %}
        <p>No items found.</p>
        {% endfor %}
    </div>
{% endblock %}
